# VS Code
.vscode/*
!.vscode/launch.json

# NodeJS
node_modules/

# macOS
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Other
yarn-error.log
.cache
.env